[Desktop Entry]
Version=1.0
Type=Application
Name=App Grid
Comment=Application grid for Unicorn
Exec=rofi -show drun
Icon=uniApps
Path=
Terminal=false
StartupNotify=false
