[Desktop Entry]
Version=1.0
Type=Application
Name=Application Grid
Comment=
Exec=rofi -show drun -show-icons
Icon=uniApps
Path=
Terminal=false
StartupNotify=false
