[Desktop Entry]
Version=1.0
Type=Application
Name=uniDesktop
Comment=Maybe a Gnome shell like dashboard for Xfce
Exec=/usr/bin/xfdashboard
Icon=uniDesktop
Path=
Terminal=false
StartupNotify=false
