[Desktop Entry]
Version=1.0
Type=Application
Name=Search Bar
Comment=Application launcher for Linux
Exec=env GDK_BACKEND=x11 /usr/bin/ulauncher --hide-window
Icon=uniLauncher
Path=
Terminal=false
StartupNotify=false
NotShowIn=XFCE;Unity;KDE;GNOME;
