[Desktop Entry]
Encoding=UTF-8
Version=2.3.0
Type=Application
Name=Cortile
Comment=Tiling Tool
Exec=cortile
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
