[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Gsettings Theme
Comment=Themeing for Desktop
Exec=bash -c "gsettings set org.gnome.desktop.interface gtk-theme Yaru-purple"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
