[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Papirus Theme
Comment=Unicorn default icons
Exec=bash -c "xfconf-query -c xsettings -p /Net/IconThemeName -s Papirus-Dark"
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
