[Desktop Entry]
Version=1.0
Type=Application
Name=Xfdashboard settings
Comment=Configure xfdashboard
Exec=/usr/bin/xfdashboard
Icon=uniDesktop
Path=
Terminal=false
StartupNotify=true
